#include <windows.h>
#include "res.h"



CL_DIALOGEX DIALOGEX 0, 0, 238, 161
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "服务与内核驱动管理器"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 2, 0, 233, 21 
   CONTROL "", CL_EDIT_PATH, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 5, 6, 213, 12 
   CONTROL "...", CL_BTN_SELECT, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 6, 12, 12 , 0x00020000
   CONTROL "注册", CL_BTN_REG, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 5, 27, 51, 14 , 0x00020000
   CONTROL "", CL_CHK_REG_START, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 30, 8, 8 
   CONTROL "运行", CL_BTN_START, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 27, 51, 14 , 0x00020000
   CONTROL "代码 (hex)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 44, 28, 17 
   CONTROL "", CL_EDIT_CODE, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 47, 47, 13 
   CONTROL "I/O &控制", CL_BTN_IOCOL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 47, 51, 14 , 0x00020000
   CONTROL "停止", CL_BTN_STOP, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 67, 51, 14 , 0x00020000
   CONTROL "", CL_CHK_STOP_UN, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 70, 8, 8 
   CONTROL "卸载", CL_UNINSTALL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 67, 51, 14 , 0x00020000
   CONTROL "", CL_CHK_ALL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 50, 8, 8 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 58, 33, 10, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 58, 73, 10, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 79, 33, 10, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 79, 73, 10, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 144, 33, 15, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 144, 73, 15, 1 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 2, 19, 172, 66 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 144, 52, 10, 1 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 158, 34, 1, 14 
   CONTROL "", -1, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 158, 59, 1, 15 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 176, 19, 59, 66 
   CONTROL "选项", CL_BTN_OPTION, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 180, 27, 51, 14 , 0x00020000
   CONTROL "关于", CL_BTN_ABOUT, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 47, 51, 14 , 0x00020000
   CONTROL "退出", CL_BTN_EXIT, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 67, 51, 14 , 0x00020000
   CONTROL "", CL_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE, 2, 89, 234, 68 , 0x00000200
}

CL_ICON ICON "icon.ico"


1 VERSIONINFO
FILEVERSION 1,4,0,0
PRODUCTVERSION 1,4,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Let you install, start, stop and uninstall device drivers"
		VALUE "CompanyName", "Four-F"
		VALUE "FileDescription", "Kernel Mode Driver Manager"
		VALUE "FileVersion", "1, 4, 0, 0"
		VALUE "InternalName", "KmdManager"
		VALUE "LegalCopyright", "Copyright ? 2002-2022 Four-F"
		VALUE "OriginalFilename", "KmdManager.exe"
		VALUE "ProductName", "Kernel Mode Driver Manager"
		VALUE "ProductVersion", "1.4"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

1 24 "version.xml"

